<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}

h1{
    color: white;
    font-size: 100px;
   padding: 20px 40px;
   background-color: #555;
   border-radius: 15px;
   font-family: monospace;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}

h1{
    color: white;
    font-size: 100px;
   padding: 20px 40px;
   background-color: #555;
   border-radius: 15px;
   font-family: monospace;
>>>>>>> cc7569c7b5c336bd52f81629992fbaf102eac69c
}