*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card{
    
    width: 270px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.card img{
    object-fit: cover;
    margin-top: 30px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.card h1{
    padding: 5px;
    white-space: nowrap;
}


.card h2{
    color: red;
    padding: 5px;
}

.card p{
    margin: 10px 10px;
    font-size: 14px;
}