<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

p{
    font-size: 4rem;
    color: rgb(18, 242, 18);
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

p{
    font-size: 4rem;
    color: rgb(18, 242, 18);
>>>>>>> cc7569c7b5c336bd52f81629992fbaf102eac69c
}